<section class="messages">
  <strong>Messages:</strong>
  <ul>
    <% ride.messages.each do |message| %>
      <li><%= user_display_name message.created_by %>: <%= message.content %></li>
    <% end %>
  </ul>

  <%= form_with(model: [namespace, ride, Message.new(ride: ride)], class: "input-field", local: true) do |form| %>
    <div class="row">
      <div class="col l8 m8 s6">
        <i class="material-icons prefix">sms</i>
        <%= form.text_area :content, class: "materialize-textarea"%>
      </div>
      <div class="col">
        <%= form.submit "Submit", class: "btn waves-effect waves-light" %>
      </div>
    </div>
  <% end %>
</section>
