<section class="messages">
  <strong>Messages:</strong>
  <ul>
    <% ride.messages.each do |message| %>
      <li><%= user_display_name message.created_by %>: <%= message.content %></li>
    <% end %>
  </ul>

  <%= form_with(model: [namespace, ride, Message.new(ride: ride)], local: true) do |form| %>
    <%= form.text_area :content %>
    <%= form.submit "Post a Message" %>
  <% end %>
</section>
