<section class="rb-messages">
  <ul>
    <% ride.messages.each do |message| %>
      <% if message.created_by == current_user %>
        <% message_class = "rb-message--self" %>
      <% elsif message.created_by == ride.driver %>
        <% message_class = "rb-message--driver" %>
      <% else %>
        <% message_class = "" %>
      <% end %>

      <li class="rb-message <%= message_class %>">
        <p class="rb-message__content"><%= message.content %></p>
        <span class="rb-message__sender">
          <%= user_display_name message.created_by %>
        </span>
      </li>
    <% end %>
  </ul>

  <a name="messages"></a>

  <%= form_with(model: [namespace, ride, Message.new(ride: ride)],
                class: "rb-message-form input-field", local: true) do |form| %>
    <%= form.text_field :content, placeholder: "Post a Message",
                                  class: "rb-message-form__input" %>
    <%= form.button class: "rb-message-form__submit btn waves-effect" do %>
      <i class="material-icons">send</i>
    <% end %>
  <% end %>
</section>
