<%= form_with(model: [:passenger, ride], local: true) do |form| %>
  <%= render "shared/error_explanation", problem: "Couldn't save ride",
                                        errors: ride.errors %>

  <div class="input-field">
    <%= form.collection_select :start_location_id, Location.all, :id, :name, prompt: true %>
    <%= form.label :start_location, "Pickup Location" %>
  </div>

  <div class="input-field">
    <%= form.text_field :start_datetime, default: Time.zone.now, class:"datetimepicker"%>
    <%= form.label :start_datetime, "Pickup Time" %>
  </div>

  <div class="input-field">
    <%= form.collection_select :end_location_id, Location.all, :id, :name, prompt: true %>
    <%= form.label :end_location, "Destination" %>
  </div>

  <div class="actions">
    <%= form.button class: "btn waves-effect waves-light" %>
  </div>
<% end %>
