<%= render "rides/error_explanation", problem: @problem, errors: @errors %>

<p>
  <strong>Departure:</strong>
  <%= @ride.start_location.name %>
</p>

<p>
  <strong>Departure Time:</strong>
  <%= @ride.start_datetime.to_s(:short) %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride.end_location.name %>
</p>

<p>
  <strong>Arrival Time:</strong>
  <%= @ride.end_datetime.to_s(:short) %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @ride.driver ? @ride.driver.email : "None" %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ride.price %>
</p>

<p>
  <strong>Seats remaining:</strong>
  <%= seats_remaining @ride %>
</p>

<% if user_signed_in? %>
  <%= render "messages/pane", namespace: :passenger, ride: @ride %>
<% end %>

<% unless @ride.driver == current_user %>
  <% if @ride.passengers.include? current_user %>
    <%= link_to 'Leave', passenger_join_ride_path(@ride), method: :delete %> |
  <% else %>
    <%= link_to 'Join', passenger_join_ride_path(@ride), method: :post %> |
  <% end %>
<% end %>

<% if @ride.authorized_editor? current_user %>
  <%= link_to 'Edit', edit_passenger_ride_path(@ride) %> |
<% end %>

<%= link_to 'Back', passenger_rides_path %>
