<%= render "rides/ride_og_meta", ride: @ride %>

<% content_for :body do %>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
<% end %>

<section class="rb-ride-nav-links">
  <%= link_to passenger_rides_path,
              class: "rb-ride-nav-link rb-ride-nav-link--back" do %>
    <i class="material-icons left">arrow_back</i>
    Available Rides
  <% end %>

  <% if @ride.authorized_editor? current_user %>
    <%= link_to 'Edit', edit_passenger_ride_path(@ride), class: "rb-ride-nav-link rb-ride-nav-link--edit" %>
  <% end %>
</section>

<%= render "shared/error_explanation", problem: @problem, errors: @errors %>

<%= render "rides/ride_locations", ride: @ride %>

<p class="rb-ride-driver">
  <% if @ride.driver.nil? %>
    <span class="rb-ride-driver__name">
      No driver yet
    </span>
  <% else %>
    <strong class="rb-ride-driver__heading">Driver</strong>
    <span class="rb-ride-driver__name">
      <%= user_display_name(@ride.driver) %>
    </span>
  <% end %>
</p>

<p class="rb-ride-join">
  <span class="rb-ride-join__message">
    <%= seats_text @ride %>
  </span>

  <% unless @ride.driver == current_user %>
    <% if @ride.passengers.include? current_user %>
      <%= link_to 'Leave', passenger_join_ride_path(@ride), method: :delete,
                           class: "rb-ride-join__button btn-flat waves-effect" %>
    <% elsif @ride.seats.nil? || @ride.passengers.count < @ride.seats %>
      <%= link_to 'Join', passenger_join_ride_path(@ride), method: :post,
                          class: 'rb-ride-join__button rb-ride-join__button--join btn-large waves-effect' %>
    <% end %>
  <% end %>
</p>

<%= render "rides/ride_notifications", ride: @ride,
           notify_path: passenger_ride_notify_path(@ride) %>

<%= render "rides/share_ride", ride: @ride do %>
  Get the word out!  Find
  <% if @ride.driver.nil? %>
    a driver or
  <% end %>
  more passengers
<% end %>

<%= render "messages/pane", namespace: :passenger, ride: @ride %>

<% unless @ride.driver.nil? %>
  <p class="rb-ride-notifications-status">
    <% if @ride.driver.notified_by_ride?(@ride) %>
      Your driver is receiving notifications
    <% else %>
      Your driver is not receiving notifications
    <% end %>
  </p>
<% end %>
