<% content_for :head do %>
  <meta property="og:url"   content="<%=share_ride_url(@ride)%>" />
  <meta property="og:type"  content="website" />
  <% if @ride.driver.nil? %>
    <meta property="og:title"
          content="Requesting ride to <%=@ride.end_location.name%> on <%= @ride.start_datetime.to_s(:short_ampm) %>"/>
    <meta property="og:description"
          content="I need a driver to take me from <%= @ride.start_location.name %> to <%= @ride.end_location.name %> on <%=@ride.start_datetime.to_s(:short_ampm)%>. Please click on this link to drive or join." />
  <% else %>
    <meta property="og:title"
          content="Offering ride to <%=@ride.end_location.name%> on <%= @ride.start_datetime.to_s(:short_ampm) %>"/>
    <meta property="og:description"
          content="I am riding from <%= @ride.start_location.name %> to <%= @ride.end_location.name %> on <%=@ride.start_datetime.to_s(:short_ampm)%>. Please click on this link to join." />
  <% end %>
  <meta property="fb:app_id" content="2479083255670794" />
<% end %>

<%= render "shared/error_explanation", problem: @problem, errors: @errors %>

<p>
  <strong>Departure:</strong>
  <%= @ride.start_location.name %>
</p>

<p>
  <strong>Departure Time:</strong>
  <%= @ride.start_datetime.to_s(:short_ampm) %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride.end_location.name %>
</p>

<p>
  <strong>Arrival Time:</strong>
  <%= @ride.end_datetime.to_s(:short_ampm) %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @ride.driver ? user_display_name(@ride.driver) : "None" %>
</p>

<p>
  <strong>Seats remaining:</strong>
  <%= seats_remaining @ride %>
</p>

<% unless @ride.driver.nil? %>
  <% if @ride.driver.notify? %>
    <p>Your driver is receiving notifications</p>
  <% else %>
    <p>Your driver is not receiving notifications</p>
  <% end %>
<% end %>

<%= render "messages/pane", namespace: :passenger, ride: @ride %>

<% if user_signed_in? && @ride.passengers.include?(current_user) %>
  <% if current_user.notify? %>
    <%= link_to 'Notification Preferences',
                passenger_ride_notify_path(@ride) %>
  <% else %>
    <%= link_to 'Notify Me About Updates to this Ride',
                passenger_ride_notify_path(@ride), class: 'big-boi' %>
  <% end %>
  <br />
<% end %>

<% unless @ride.driver == current_user %>
  <% if @ride.passengers.include? current_user %>
    <%= link_to 'Leave', passenger_join_ride_path(@ride), method: :delete %>
  <% else %>
    <%= link_to 'Join', passenger_join_ride_path(@ride), method: :post,
                class: 'big-boi' %>
  <% end %>
<% end %>

<% if @ride.authorized_editor? current_user %>
  <%= link_to 'Edit', edit_passenger_ride_path(@ride) %>
<% end %>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <div class="fb-share-button"
    data-href=<%= share_ride_url(@ride)%>
    data-layout="button_count">
  </div>


