<%= render "shared/error_explanation", problem: @problem, errors: @errors %>

<p>
  <strong>Departure:</strong>
  <%= @ride.start_location.name %>
</p>

<p>
  <strong>Departure Time:</strong>
  <%= @ride.start_datetime.to_s(:short) %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @ride.end_location.name %>
</p>

<p>
  <strong>Arrival Time:</strong>
  <%= @ride.end_datetime.to_s(:short) %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @ride.driver ? user_display_name(@ride.driver) : "None" %>
</p>

<p>
  <strong>Fare:</strong>
  <% if @ride.price %>
  <%= dollars @ride.price %>
    <% else %>
  Contact Driver
    <% end %>
</p>

<p>
  <strong>Seats remaining:</strong>
  <%= seats_remaining @ride %>
</p>

<%= render "messages/pane", namespace: :passenger, ride: @ride %>

<% if user_signed_in? && @ride.passengers.include?(current_user) %>
  <%= link_to current_user.notify? ?
                'Notification Preferences' :
                'Notify Me About Updates to this Ride',
              passenger_ride_notify_path(@ride) %>
  <br />
<% end %>

<% unless @ride.driver == current_user %>
  <% if @ride.passengers.include? current_user %>
    <%= link_to 'Leave', passenger_join_ride_path(@ride), method: :delete %>
  <% else %>
    <%= link_to 'Join', passenger_join_ride_path(@ride), method: :post %>
  <% end %>
<% end %>

<% if @ride.authorized_editor? current_user %>
  <%= link_to 'Edit', edit_passenger_ride_path(@ride) %>
<% end %>

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <div class="fb-share-button"
    data-href=<%= share_ride_url(@ride)%>
    data-layout="button_count">
  </div>


