<%= form_with(url: url, method: :patch, local: true, class: "rb-notification-form") do |form| %>
  <%= render "shared/error_explanation",
             problem: "Couldn't save notification preferences",
             errors: current_user.errors %>

  <%= yield form %>

  <section class="rb-notification-form__section">
    <h2 class="rb-notification-form__section-heading">Notification Method</h2>

    <%= form.fields model: current_user do |user| %>
      <div class="rb-notification-form__field">
        <label>
          <%= user.check_box :notify_email %>
          <span>Send me email notifications</span>
        </label>
      </div>

      <div class="rb-notification-form__field">
        <label class="rb-notification-form__sub-field">
          <%= user.check_box :notify_sms %>
          <span>Send me text message notifications</span>
        </label>

        <div class="rb-notification-form__sub-field">
          <%= user.label :phone_number %>
          <%= user.text_field :phone_number %>
        </div>
      </div>
    <% end %>
  </section>

  <div class="rb-notification-form__controls">
    <%= form.button 'Save Notification Preferences', class: "btn waves-effect waves-light" %>
  </div>
<% end %>
