<%= image_tag 'background.jpg', class: 'background-image' %>

  <div class="center-content">
    <div class="card">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <div class="card-content">
        <span class="card-title">Change your password</span>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      <div class="card-action">
        <div>
          <%= render "devise/shared/links" %>
        </div>
        <br>
        <%= f.button "Change my password", class: "btn-large waves-effect waves-light" %>
      </div>
      <% end %>
    </div>
  </div>
