<%= image_tag 'background.jpg', class: 'background-image' %>

  <div class="center-content">
    <div class="card">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="card-content">
        <span class="card-title">Forgot your password?</span>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>
      <div class="card-action">
        <div>
          <%= render "devise/shared/links" %>
        </div>
        <p>Password reset instructions will be sent to your email.</p>
        <br>
        <%= f.button "Email Me", class: "btn-large waves-effect waves-light" %>
      </div>
      <% end %>
    </div>
  </div>
