<% content_for :head do %>
  <style>
    .welcome {
      background-image: url('<%= image_path('background.jpg') %>');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  </style>
<% end %>

<div class="welcome">
  <%# Navbar %>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">RideBoard.app</a>
      <a href="#" data-target="mobile-sidenav" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path, class: 'btn' %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-sidenav">
    <% if user_signed_in? %>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
  </ul>

  <div class="row container">
    <h1 class="white-text">Need a ride?</h1>
    <p class="white-text">
      Find drivers or passengers from the Grinnell College community to share
      a ride with. Whether you need help getting somewhere or have a car
      already and want to carpool, we've got you covered.
    </p>

    <div class="col s12 m6 l4">
      <div class="card z-depth-3">
        <div class="card-image">
          <%= image_tag 'driver.jpg' %>
          <span class="card-title">I'm a Driver</span>
        </div>
        <div class="card-action">
          <%= link_to "Offer a Ride", driver_root_path,
                      class: "waves-effect waves-light btn-large" %>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card z-depth-3">
        <div class="card-image">
          <%= image_tag 'passenger.jpg' %>
          <span class="card-title">I'm a Passenger</span>
        </div>
        <div class="card-action">
          <%= link_to "Request a Ride", passenger_root_path,
                      class: "waves-effect waves-light btn-large" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="info">
  <section class="container">
    <h2>What is this app?</h2>
    <p>
      RideBoard.app is a passion project built by and for Grinnell students.
      Our goal is to make a seamless ride sharing experience that is more
      reliable and more transparent. The app is still in the early stages with
      only a few features to start off. We would love to hear your feedback as
      we iterate and improve the app to make the best experience for everyone.
    </p>
    <p>
      If you have 3 minutes, please fill out our
      <%= link_to 'form', 'https://docs.google.com/forms/d/e/1FAIpQLScL36vosPM6reoV8grxpYCvAB3ALlnzZJiu9_9sdnrRFfaw_g/viewform?usp=sf_link'%>.
      Your feedback will help us make a better app!
    </p>
  </section>
  <section class="container">
    <h2>Meet the Team</h2>
    <p>
      We are a small team of Grinnell students dedicated to improving the
      ride-sharing experience for the whole Grinnell community. If you are
      interested joining the team or contributing in other ways, email us at
      <%= link_to 'contribute@rideboard.app', 'mailto:contribute@rideboard.app' %>!
    </p>
    <ul>
      <li>Zander Otavka - Team Lead</li>
      <li>David Jin - User Experience Designer</li>
      <li>Patrick Nuckolls - Engineer</li>
      <li>Yash Gupta - Engineer</li>
      <li>Tran Le - Engineer</li>
    </ul>
  </section>
</div>
