<%= form_with(model: [:driver, ride], local: true) do |form| %>
  <%= render "shared/error_explanation", problem: "Couldn't save ride",
                                         errors: ride.errors %>

  <div class="input-field">
    <%= form.collection_select :start_location_id, Location.all, :id, :name, prompt: true %>
    <%= form.label :start_location %>
  </div>

  <div class="input-field">
    <%= form.text_field :start_datetime, default: Time.zone.now, class:"datetimepicker"%>
    <%= form.label :start_datetime %>
  </div>

  <div class="input-field">
    <%= form.collection_select :end_location_id, Location.all, :id, :name, prompt: true %>
    <%= form.label :end_location %>
  </div>

  <div class="input-field">
    <%= form.text_field :end_datetime, class:"datetimepicker", default: Time.zone.now %>
    <%= form.label :end_datetime %>
  </div>

  <div class="field">
    <%= form.label :seats %>
    <%= form.text_field :seats %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
