<%= form_with(model: [:driver, ride], local: true) do |form| %>
  <%= render "shared/error_explanation", problem: "Couldn't save ride",
                                         errors: ride.errors %>

  <div class="field">
    <%= form.label :start_location %>
    <%= form.collection_select :start_location_id, Location.all, :id, :name,
                               prompt: true %>
  </div>

  <div class="field">
    <%= form.label :start_datetime %>
    <%= form.datetime_select :start_datetime, default: Time.zone.now %>
  </div>

  <div class="field">
    <%= form.label :end_location %>
    <%= form.collection_select :end_location_id, Location.all, :id, :name,
                               prompt: true %>
  </div>

  <div class="field">
    <%= form.label :end_datetime %>
    <%= form.datetime_select :end_datetime, default: Time.zone.now %>
  </div>

  <div class="field">
    <%= form.label :price, "Price ($)" %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :seats %>
    <%= form.text_field :seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
