<%= render "rides/error_explanation", problem: @problem, errors: @errors %>

<p>
  <strong>Start location:</strong>
  <%= @ride.start_location.name %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @ride.start_datetime %>
</p>

<p>
  <strong>End location:</strong>
  <%= @ride.end_location.name %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @ride.end_datetime %>
</p>

<p>
  <strong>Price:</strong>
  <%= dollars(@ride.price * @ride.passengers.count) %>
</p>

<p>
  <strong>Passengers (<%= @ride.passengers.count %>):</strong>
  <ul>
    <% @ride.passengers.each do |passenger| %>
      <li><%= passenger.email %></li>
    <% end %>
  </ul>
</p>

<% if user_signed_in? %>
  <%= render "messages/pane", namespace: :driver, ride: @ride %>
<% end %>

<% unless @ride.passengers.include?(current_user) %>
  <% if @ride.driver == current_user %>
    <%= link_to 'Leave', driver_join_ride_path(@ride), method: :delete %> |
  <% elsif @ride.driver.nil? %>
    <%= link_to 'Drive', driver_join_ride_path(@ride), method: :post %> |
  <% end %>
<% end %>

<% if @ride.authorized_editor? current_user %>
  <%= link_to 'Edit', edit_driver_ride_path(@ride) %> |
<% end %>

<%= link_to 'Back', driver_rides_path %>
