<% content_for :body do %>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
<% end %>

<section class="rb-ride-nav-links">
  <%= link_to driver_rides_path,
              class: "rb-ride-nav-link rb-ride-nav-link--back" do %>
    <i class="material-icons left">arrow_back</i>
    Requested Rides
  <% end %>

  <% if @ride.authorized_editor? current_user %>
    <%= link_to 'Edit', edit_driver_ride_path(@ride),
                        class: "rb-ride-nav-link rb-ride-nav-link--edit" %>
  <% end %>
</section>

<%= render "shared/error_explanation", problem: @problem, errors: @errors %>

<%= render "rides/ride_locations", ride: @ride %>

<p class="rb-ride-passengers">
  <% unless @ride.passengers.empty? %>
    <strong class="rb-ride-passengers__heading">
      Passengers
    </strong>
  <% end %>

  <span class="rb-ride-passengers__names">
    <% if @ride.passengers.empty? %>
      No passengers yet
    <% else %>
      <%= @ride.passengers
        .map {|passenger| user_display_name passenger}
        .to_sentence %>
    <% end %>
  </span>

  <span class="rb-ride-passengers__seats">
    &nbsp;&mdash;
    <% if @ride.seats.nil? %>
      Seating Unlimited
    <% elsif @ride.passengers.empty? %>
      <%= pluralize(@ride.seats, "seat") %> available
    <% else %>
      <%= @ride.passengers.count %> of
      <%= pluralize(@ride.seats, "seat") %> filled
    <% end %>
  </span>
</p>

<p class="rb-ride-join">
  <% if @ride.passengers.include?(current_user) %>
    <span class="rb-ride-join__message">You are already a passenger</span>
  <% elsif user_signed_in? && @ride.driver == current_user %>
    <span class="rb-ride-join__message">You are the driver</span>

    <%= link_to 'Leave', driver_join_ride_path(@ride), method: :delete,
                        class: "rb-ride-join__button btn-flat waves-effect" %>
  <% elsif @ride.driver.nil? %>
    <span class="rb-ride-join__message">No driver yet</span>
    <%= link_to 'Drive', driver_join_ride_path(@ride), method: :post,
                        class: 'rb-ride-join__button rb-ride-join__button--join btn-large waves-effect' %>
  <% else %>
    <span class="rb-ride-join__message">
      <%= user_display_name @ride.driver %>
      is already the driver
    </span>
  <% end %>
</p>

<%= render "rides/ride_notifications", ride: @ride,
           notify_path: driver_ride_notify_path(@ride) %>

<%= render "rides/share_ride", ride: @ride do %>
  Get the word out!  Find more passengers
<% end %>

<%= render "messages/pane", namespace: :driver, ride: @ride %>

<% unless @ride.passengers.empty? %>
  <p class="rb-ride-notifications-status">
    <% not_notified_passenger_names = (@ride.passengers
      .filter {|passenger| !passenger.notified_by_ride?(@ride)}
      .map {|passenger| user_display_name passenger}) %>
    <% if not_notified_passenger_names.empty? %>
      All passengers are receiving notifications
    <% else %>
      Some passengers are not receiving notifications:
      <%= not_notified_passenger_names.to_sentence %>
    <% end %>
  </p>
<% end %>
