<%= render "shared/error_explanation", problem: @problem, errors: @errors %>

  <p>
  <strong>Start location:</strong>
  <%= @ride.start_location.name %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @ride.start_datetime.to_s(:short_ampm) %>
</p>

<p>
  <strong>End location:</strong>
  <%= @ride.end_location.name %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @ride.end_datetime.to_s(:short_ampm) %>
</p>

<p>
  <strong>
    Passengers (<%= @ride.passengers.count %> out of <%= @ride.seats %> seats):
  </strong>
  <ul>
    <% @ride.passengers.each do |passenger| %>
      <li><%= user_display_name passenger %></li>
    <% end %>
  </ul>
</p>

<% if @ride.passengers.all? {|passenger| passenger.notify?} %>
  <p>All passengers are receiving notifications</p>
<% else %>
  <p>Not all passengers are receiving notifications</p>
<% end %>

<%= render "messages/pane", namespace: :driver, ride: @ride %>

<% if user_signed_in? && @ride.driver == current_user %>
  <%= link_to current_user.notify? ?
                '<i class="material-icons left">notifications_active</i>Notification Preferences'.html_safe :
                '<i class="material-icons left">notifications</i>Notify Me'.html_safe,
              driver_ride_notify_path(@ride), class: "btn-flat waves-effect" %>
  <br />
<% end %>

<% unless @ride.passengers.include?(current_user) %>
  <% if @ride.driver == current_user %>
    <%= link_to 'Leave', driver_join_ride_path(@ride), method: :delete %> |
  <% elsif @ride.driver.nil? %>
    <%= link_to 'Drive', driver_join_ride_path(@ride), method: :post %> |
  <% end %>
<% end %>

<% if @ride.authorized_editor? current_user %>
  <%= link_to 'Edit', edit_driver_ride_path(@ride) %> |
<% end %>

<%= link_to 'Back', driver_rides_path %>

<hr />

<section>
  <strong>Share this ride</strong>
  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <div class="fb-share-button"
    data-href=<%= share_ride_url(@ride)%>
    data-layout="button_count">
  </div>

  <p><strong>- or -</strong></p>

  <p>Copy and paste the following into a post on ride boardt.</p>

  <blockquote>
    <p>
      Driving from <%= @ride.start_location.name %> to
      <%= @ride.end_location.name %> on <%= @ride.start_datetime.to_s(:short_ampm) %>.
    </p>

    <p>
      To join the ride and see more details, got to
      <%= link_to share_ride_url(@ride), share_ride_url(@ride) %>
    </p>
  </blockquote>
</section>
