<p id="notice"><%= notice %></p>

<p>
  <strong>Start location:</strong>
  <%= @ride.start_location.name %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @ride.start_datetime %>
</p>

<p>
  <strong>End location:</strong>
  <%= @ride.end_location.name %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @ride.end_datetime %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @ride.driver ? @ride.driver.email : "None" %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ride.price %>
</p>

<%= link_to 'Edit', edit_rider_ride_path(@ride) %> |
<%= link_to 'Back', rider_rides_path %>
