<%= form_with(model: ride, local: true) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
        <% ride.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_location %>
    <%= form.collection_select :start_location_id, Location.all, :id, :name,
                               prompt: true %>
  </div>

  <div class="field">
    <%= form.label :start_datetime %>
    <%= form.datetime_select :start_datetime, default: now_cst_datetime %>
  </div>

  <div class="field">
    <%= form.label :end_location %>
    <%= form.collection_select :end_location_id, Location.all, :id, :name,
                               prompt: true %>
  </div>

  <div class="field">
    <%= form.label :end_datetime %>
    <%= form.datetime_select :end_datetime, default: now_cst_datetime %>
  </div>

  <div class="field">
    <%= form.label :price, "Price ($)" %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
