<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
      <% location.errors.full_messages.each do |message| %>
        <%= javascript_tag "M.toast({html: '#{message}'}, 4000)" %>
      <% end %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
