<% content_for :body do %>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">RideBoard.app</a>
      <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%= yield :link %>

        <% if user_signed_in? && current_user.admin? %>
          <li><%= link_to 'Locations', locations_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <% else %>
        <% if !user_signed_in? %>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
      <ul class="right hide-on-large-only">
        <% if user_signed_in? %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons">person_outline</i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="material-icons">person</i>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="material-icons">person_add</i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-sidenav">
    <%= yield :link %>

    <% if user_signed_in? && current_user.admin? %>
      <li><%= link_to 'Locations', locations_path %></li>
    <% end %>

    <% if !user_signed_in? %>
      <li><%= link_to 'Sign In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
  </ul>

  <main class="container">
    <%= content_for?(:main) ? yield(:main) : yield %>
  </main>
<% end %>

<%= render template: "layouts/application" %>
