<% content_for :content do %>
  <%= yield :rides_content %>

  <hr />

  <nav>
    <ul>
      <li><%= yield :rides_link %></li>

      <% if user_signed_in? && current_user.admin? %>
        <li><%= link_to 'Locations', locations_path %></li>
      <% end %>

      <% if user_signed_in? %>
        <li><%= link_to "Sign Out (#{current_user.email})",
                destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>

      <li><%= yield :other_app_link %></li>
    </ul>
  </nav>
<% end %>

<%= render template: "layouts/application" %>
